/* TODO */

#presentation em {
  color: green;
}

#deroulement em {
  color: blue;
}

em > em {
  font-weight: bold;
}

#armes > ul > li {
  color: green;
}

#armes > ul > li > ul {
  color: blue;
}

.contandante {
  font-weight: bold;
}

.coupante {
  text-decoration: underline;
}

.detourne {
  font-style: italic;
}

#violet {
  color: purple;
}

#cellule-moutarde {
  color: rgb(225,173,1);
}

#cellule-olive {
  color: rgb(112,141,35);
}

#cellule-violet {
  color: purple;
}

#cellule-rose {
  color: rgb(255,192,203);
}

#cellule-pervenche {
  color: rgb(204,204,255);
}

#cellule-blanc {
  color: white;
}
